{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "base.njk" %}
{% set pageTitle = "What document do you want to create?" %}
{% block content %}
    <form action="/select-document" method="post">
        {{ govukRadios({
                name: "document",
                fieldset: {
                legend: {
                text: pageTitle,
                classes: "govuk-fieldset__legend--m",
                isPageHeading: true
                }
                },
                items: documents,
                errorMessage: {
                text: errors['document'].text
                } if (errors['document'])
                }) }}
        {{ govukButton({text: "Continue", type: "Submit", preventDoubleClick: true}) }}
    </form>
{% endblock %}
