# Log file
*.log

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac
.DS_Store
dist
.idea
*.toml
.vscode/
bin/
