{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "base.njk" %}
{% set pageTitle = "Enter the Clear Basic DBS Check document details" %}
{% block content %}
    <form action="/build-dbs-document" method="post">
        {% call govukFieldset({
            "legend": {
            "text": pageTitle,
            "classes": "govuk-fieldset__legend--m",
            "isPageHeading": true
            } }) %}
            {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
            {{ govukDateInput({
                "id": "issuance-date",
                "namePrefix": "issuance",
                "fieldset": {
                    "legend": {
                        "text": "Issuance date",
                        "classes": "govuk-fieldset__legend--s"
                    }
                },
                "items": [
                    {
                        "classes": "govuk-input--width-2",
                        "name": "day",
                        "value": "16"
                    },
                    {
                        "classes": "govuk-input--width-2",
                        "name": "month",
                        "value": "01"
                    },
                    {
                        "classes": "govuk-input--width-3",
                        "name": "year",
                        "value": "2025"
                    }
                ]
            }) }}
            {{ govukDateInput({
                "id": "expiration-date",
                "namePrefix": "expiration",
                "fieldset": {
                    "legend": {
                        "text": "Expiration date",
                        "classes": "govuk-fieldset__legend--s"
                    }
                },
                "items": [
                    {
                        "classes": "govuk-input--width-2",
                        "name": "day",
                        "value": "16"
                    },
                    {
                        "classes": "govuk-input--width-2",
                        "name": "month",
                        "value": "01"
                    },
                    {
                        "classes": "govuk-input--width-3",
                        "name": "year",
                        "value": "2026"
                    }
                ]
            }) }}
            {{ govukInput({
                "label": {
                    "text": "First name",
                    "classes": "govuk-label--s"
                },
                "id": "first-name",
                "name": "firstName",
                "classes": "govuk-!-width-one-third",
                "spellcheck": false,
                "autocomplete": "first-name",
                "value": "Sarah Elizabeth"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Last name",
                    "classes": "govuk-label--s"
                },
                "id": "last-name",
                "name": "lastName",
                "classes": "govuk-!-width-one-third",
                "spellcheck": false,
                "autocomplete": "last-name",
                "value": "Edwards"
            }) }}
            {{ govukDateInput({
                "id": "birth-date",
                "namePrefix": "birth",
                "fieldset": {
                    "legend": {
                        "text": "Date of birth",
                        "classes": "govuk-fieldset__legend--s"
                    }
                },
                "items": [
                    {
                        "classes": "govuk-input--width-2",
                        "name": "day",
                        "value": "06"
                    },
                    {
                        "classes": "govuk-input--width-2",
                        "name": "month",
                        "value": "03"
                    },
                    {
                        "classes": "govuk-input--width-3",
                        "name": "year",
                        "value": "1980"
                    }
                ]
            }) }}
            {% call govukFieldset({
                "legend": {
                "text": "Full address",
                "classes": "govuk-fieldset__legend--s"
                }
                }) %}
                {{ govukInput({
                    "label": {
                        "text": "Flat number (Sub building name)"
                    },
                    "id": "sub-building-name",
                    "name": "subBuildingName",
                    "classes": "govuk-input--width-5",
                    "spellcheck": false,
                    "autocomplete": "address-line1",
                    "value": "Flat 11"
                }) }}
                {{ govukInput({
                    "label": {
                        "text": "Building name"
                    },
                    "id": "building-name",
                    "name": "buildingName",
                    "classes": "govuk-input--width-20",
                    "spellcheck": false,
                    "autocomplete": "address-line2",
                    "value": "Blashford"
                }) }}
                {{ govukInput({
                    "label": {
                        "text": "Street name"
                    },
                    "id": "street-name",
                    "name": "streetName",
                    "classes": "govuk-input--width-20",
                    "spellcheck": false,
                    "autocomplete": "address-line3",
                    "value": "Adelaide Road"
                }) }}
                {{ govukInput({
                    "label": {
                        "text": "Town or city (Address locality)"
                    },
                    "id": "address-locality",
                    "name": "addressLocality",
                    "classes": "govuk-input--width-20",
                    "spellcheck": false,
                    "autocomplete": "address-level2",
                    "value": "London"
                }) }}
                {{ govukInput({
                    "label": {
                        "text": "Country"
                    },
                    "id": "address-country",
                    "name": "addressCountry",
                    "classes": "govuk-input--width-20",
                    "spellcheck": false,
                    "autocomplete": "country-name",
                    "value": "GB"
                }) }}
                {{ govukInput({
                    "label": {
                        "text": "Postcode"
                    },
                    "id": "postal-code",
                    "name": "postalCode",
                    "classes": "govuk-input--width-10",
                    "spellcheck": false,
                    "autocomplete": "postal-code",
                    "value": "NW3 3RX"
                }) }}
            {% endcall %}
            {{ govukInput({
                "label": {
                    "text": "Certificate number",
                    "classes": "govuk-label--s"
                },
                "id": "certificate-number",
                "name": "certificateNumber",
                "classes": "govuk-!-width-one-third",
                "spellcheck": false,
                "value": "009878863"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Application number",
                    "classes": "govuk-label--s"
                },
                "id": "application-number",
                "name": "applicationNumber",
                "classes": "govuk-!-width-one-third",
                "spellcheck": false,
                "value": "E0023455534"
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Certificate type",
                    "classes": "govuk-label--s"
                },
                "id": "certificate-type",
                "name": "certificateType",
                "classes": "govuk-!-width-one-third",
                "value": "Basic",
                "disabled": true
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Outcome",
                    "classes": "govuk-label--s"
                },
                "id": "outcome",
                "name": "outcome",
                "classes": "govuk-!-width-one-third",
                "value": "Clear",
                "disabled": true
            }) }}
            {{ govukInput({
                "label": {
                    "text": "Police records check",
                    "classes": "govuk-label--s"
                },
                "id": "police-records-check",
                "name": "policeRecordsCheck",
                "classes": "govuk-!-width-one-third",
                "value": "Clear",
                "disabled": true
            }) }}
            {{ govukRadios({
                classes: "govuk-radios--small",
                name: "credentialTtl",
                fieldset: {
                    legend: {
                        text: "When should the credential expire?",
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                items: [
                    {
                        value: "2592000",
                        text: "30 days",
                        checked: true
                    },
                    {
                        value: "20",
                        text: "20 seconds"
                    }
                ]
            }) }}
            {% if showThrowError %}
            {{ govukSelect({
                "id": "throw-error",
                "name": "throwError",
                "label": {
                    "text": "Throw an error from the STS pre-authorised code exchange",
                    "classes": "govuk-label--s"
                },
                "items": errorChoices
            }) }}
        {% endif %}
        {% endcall %}
        {{ govukButton({"text": "Continue", "type": "Submit", "preventDoubleClick": true}) }}
    </form>
{% endblock %}
