{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "base.njk" %}
{% set pageTitle = "Add your document to your test GOV.UK Wallet app" %}
{% block content %}
    <h1 class="govuk-heading-m">{{ pageTitle }}</h1>
    <p class="govuk-body">Add your document if you are using a smartphone:</p>
    <p class="govuk-body">
        <a href={{ universalLink }} class="govuk-button" data-module="govuk-button">Add document</a>
    </p>
    <p class="govuk-body">Add your document if you are using a computer or tablet:</p>
    <p class="govuk-body">
        <img id="qr-code"
             src="{{ qrCode }}"
             alt="QR Code Image"
             width="350"
             height="350">
    </p>
    {{ govukWarningText({"text": "This deep link / QR code is valid for 15 minutes.", "iconFallbackText": "Warning"}) }}
{% endblock %}
