{% extends "base.njk" %}
{% set pageTitle = "No update available" %}
{% block content %}
    <h1 class="govuk-heading-m">{{ pageTitle }}</h1>
    <p class="govuk-body">There is no update available for this credential.</p>
{% endblock %}
