{% extends "base.njk" %}
{% set pageTitle = "Download your document to your GOV.UK Wallet" %}
{% set containerClasses = "govuk-disable-max-width" %}
{% block content %}
    <link rel="stylesheet" href="/assets/jsontree.js.css">
    <script src="/assets/jsontree.js"></script>
    <script>
        const jsontreeBindingOptions = {
            sortPropertyNames: false,
            fileDroppingEnabled: false,
            allowEditing: {
                booleanValues: false,
                decimalValues: false,
                numberValues: false,
                stringValues: false,
                dateValues: false,
                bigIntValues: false,
                guidValues: false,
                colorValues: false,
                propertyName: false,
                urlValues: false,
                emailValues: false,
                regExpValues: false,
                symbolValues: false,
                imageValues: false,
                bulk: false,
            },
            dateTimeFormat: "{yyyy}-{mm}-{dd}T{hh}:{MM}:{ss}Z",
            showUrlOpenButtons: false,
            showEmailOpenButtons: false,
            title: {
                showCloseOpenAllButtons: false,
            },
            controlPanel: {
                enabled: false,
            },
            sideMenu: {
                enabled: false,
            },
            autoClose: {
                objectSize: 6,
                arraySize: 6,
                mapSize: 6,
                setSize: 6,
            }
        }

        function onCopyClick(id) {
            const text = document.getElementById(id).textContent;
            navigator.clipboard.writeText(text);
        }
    </script>
    <h1 class="govuk-heading-l govuk-!-margin-top-3">Example GOV.UK Wallet Credential Issuer</h1>
    <h1 class="govuk-heading-m">Quick links:</h1>
    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#preauth">Pre-auth code</a>
        </li>
        <li>
            <a class="govuk-link" href="#preauthclaims">Pre-auth code Claims</a>
        </li>
        <li>
            <a class="govuk-link" href="#access">Access Token</a>
        </li>
        <li>
            <a class="govuk-link" href="#tokenclaims">Token Claims</a>
        </li>
        <li>
            <a class="govuk-link" href="#proofjwt">Proof JWT</a>
        </li>
        <li>
            <a class="govuk-link" href="#proofjwtclaims">Proof JWT Claims</a>
        </li>
        <li>
            <a class="govuk-link" href="#explorer">Credential Explorer</a>
        </li>
        {% if credentialSignature %}
            <li>
                <a class="govuk-link" href="#x5chain">X509 Certificate Chain</a>
            </li>
            <li>
                <a class="govuk-link" href="#x5chainHex">X509 Certificate Chain Hex</a>
            </li>
        {% endif %}
        <li>
            <a class="govuk-link" href="#credential">Credential</a>
        </li>
    </ul>

    <!--PRE-AUTHORISED CODE-->
    <h1 class="govuk-heading-m" id="preauth">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('preauth-text')">
            <span class="copy-label">Copy</span>
        </button>
        Pre-authorised Code:
    </h1>
    <pre class="monospace" id="preauth-text">{{ preAuthorizedCode }}</pre>

    <!--PRE-AUTHORISED CODE CLAIMS-->
    <h1 class="govuk-heading-m" id="preauthclaims">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('preauth-claims-text')">
            <span class="copy-label">Copy</span>
        </button>
        Pre-authorised Code Claims:
    </h1>
    <pre class="monospace" id="preauth-claims-text">{{ preAuthorizedCodeClaims | dump(2) }}</pre>

    <!--ACCESS TOKEN-->
    <h1 class="govuk-heading-m" id="access">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('access-token-text')">
            <span class="copy-label">Copy</span>
        </button>
        Access Token:
    </h1>
    <pre class="monospace" id="access-token-text">{{ accessToken }}</pre>

    <!--TOKEN CLAIMS-->
    <h1 class="govuk-heading-m" id="tokenclaims">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('access-token-claims-text')">
            <span class="copy-label">Copy</span>
        </button>
        Access Token Claims:
    </h1>
    <pre class="monospace" id="access-token-claims-text">{{ accessTokenClaims | dump(2) }}</pre>

    <!--PROOF JWT-->
    <h1 class="govuk-heading-m" id="proofjwt">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('proofjwt-text')">
            <span class="copy-label">Copy</span>
        </button>
        Proof JWT:
    </h1>
    <pre class="monospace" id="proofjwt-text">{{ proofJwt }}</pre>

    <!--PROOF JWT CLAIMS-->
    <h1 class="govuk-heading-m" id="proofjwtclaims">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('proofjwt-claims-text')">
            <span class="copy-label">Copy</span>
        </button>
        Proof JWT Claims:
    </h1>
    <pre class="monospace" id ="proofjwt-claims-text">{{ proofJwtClaims | dump(2)}}</pre>

    <!--CREDENTIAL EXPLORER-->
    <h1 class="govuk-heading-m" id="explorer">Credential Explorer:</h1>
    {% if credentialClaims %}
        <script>
            const credentialClaims = {
                data: {{ credentialClaims | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "{{ credentialClaimsTitle }}",
                },
            }
        </script>
        <div id="tree-1" data-jsontree-js="credentialClaims"></div>
    {% endif %}
    {% if credentialSignature %}
        <script>
            const credentialSignature = {
                data: {{ credentialSignature | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "mdoc Signature",
                },
            }
        </script>
        <div id="tree-2" data-jsontree-js="credentialSignature"></div>
    {% endif %}
    {% if credentialSignaturePayload %}
        <script>
            const credentialSignaturePayload = {
                data: {{ credentialSignaturePayload | safe }},
                ...jsontreeBindingOptions,
                title: {
                    text: "mdoc Signature Payload",
                },
            }
        </script>
        <div id="tree-3" data-jsontree-js="credentialSignaturePayload"></div>
    {% endif %}

    <!--X5 CHAIN-->
    {% if credentialSignature %}
        <h1 class="govuk-heading-m" id="x5chain">
            <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('x5chain-text')">
                <span class="copy-label">Copy</span>
            </button>
            X509 Certificate Chain:
        </h1>
        <pre class="monospace" id="x5chain-text">{{ x5chain }}</pre>
        <h1 class="govuk-heading-m" id="x5chainHex">
            <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('x5chainhex-text')">
                <span class="copy-label">Copy</span>
            </button>
            X509 Certificate Chain Hex:
        </h1>
        <pre class="monospace" id="x5chainhex-text">{{ x5chainHex }}</pre>
    {% endif %}

    <!--CREDENTIAL-->
    <h1 class="govuk-heading-m" id="credential">
        <button type="button" class="govuk-button govuk-button--secondary" onclick="onCopyClick('credential-text')">
            <span class="copy-label">Copy</span>
        </button>
        Credential:
    </h1>
    <pre class="monospace" id="credential-text">{{ credential }}</pre>
{% endblock %}
