{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}
{% set pageTitle = "Create or revoke a test digital driving licence" %}
{% block content %}
<h1 class="govuk-heading-m">{{ pageTitle }}</h1>
<p class="govuk-body">
    This tool is a document builder that allows you to create or revoke a test digital driving licence that you can use to add to a test
    version of the GOV.UK Wallet.</p>
<p class="govuk-body">
    This tool is only for certified and registered Digital Verification Services that are certified and registered on the UK Identity and
    Attributes Trust Framework.</p>
<p class="govuk-body">
    You cannot use this tool to create a legal document for proof of identity. Using a fake or replica driving licence to deceive is a
    criminal offence.
</p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h3 class="govuk-heading-m">Before you start</h3>
<p class="govuk-body">To use this service you should have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>completed the enrollment process for a digital verification service</li>
    <li>been provided access to verifier test tools e.g. (TestFlight / Google Play Console) and installed these on your device</li>
    <li>received an integration certificate</li>
</ul>

{{ govukButton({
  text: "Start now",
  href: "/dvs/select-journey",
  isStartButton: true
}) }}
{% endblock %}