{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set serviceName = "Example GOV.UK Wallet Document Builder" %}
{% block pageTitle %}{{ pageTitle + " - " if pageTitle }}{{ serviceName }}{% endblock %}
{% block head %}<link href="/public/stylesheets/application.css" rel="stylesheet">{% endblock %}
{% block header %}
    {% if authenticated %}
        {{ govukHeader({
            "homepageUrl": "/select-app",
            "classes": "govuk-header--with-sign-out-link",
            "navigation": [
                {
                    "href": "/logout",
                    "text": "Sign out"
                }
            ]
        }) }}
    {% else %}
        {{ govukHeader ({
        homepageUrl: "/select-app"
        }) }}
    {% endif %}
    {{ govukServiceNavigation({"serviceName": serviceName}) }}
{% endblock %}
{% block main %}
    <div class="govuk-width-container {{ containerClasses }}">
        <main class="govuk-main-wrapper {{ mainClasses }}"
              id="main-content"
              role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full {{ rowClasses }}">
                    {% include "errorSummary.njk" %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
{% block bodyEnd %}
    {% block scripts %}{% endblock %}
    <script type="module">
      import { initAll } from '/public/scripts/govuk-frontend.min.js'
      initAll()
    </script>
{% endblock %}
