{% extends "base.njk" %}
{% set pageTitle = "You have signed out" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p class="govuk-body">
                Go back to <a href="/select-app" class="govuk-link">the homepage to start again</a>.
            </p>
        </div>
    </div>
{% endblock %}
