name: Example CRI - Integration Tests

on:
  workflow_call:

jobs:
  run-wallet-integration-tests:
    name: Run wallet integration tests
    runs-on: ubuntu-24.04
    env:
      WALLET_SUBJECT_ID: "urn:fdc:wallet.account.gov.uk:2024:DtPT8x-dp_73tnlY3KNTiCitziN9GEherD16bqxNt9i"
    timeout-minutes: 15
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        credential:
          - type: "DigitalVeteranCard"
            format: "jwt"
            itemId: "24f79283-7aae-43d8-9ed9-58f28c05ce63"
          - type: "org.iso.18013.5.1.mDL"
            format: "mdoc"
            itemId: "03266ff7-2cbc-4e26-874d-5a80eb6daf7d"
    defaults:
      run:
        working-directory: ./example-credential-issuer/integration-tests
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout test harness
        uses: actions/checkout@v4
        with:
          repository: govuk-one-login/mobile-wallet-cri-test-harness
          path: test-harness

      - name: Start containers
        run: docker compose up --build -d --wait

      - name: Wait for example CRI container to be up
        timeout-minutes: 1
        run: |
          until curl -f http://localhost:8080/healthcheck; do
            sleep 2
          done

      - name: Get credential offer for ${{ matrix.credential.type }}
        id: get-credential-offer
        run: |
          response=$(curl -X GET "http://localhost:8080/credential_offer" \
          -H "Accept: application/json" \
          -G \
          --data-urlencode "walletSubjectId=${{ env.WALLET_SUBJECT_ID }}" \
          --data-urlencode "itemId=${{ matrix.credential.itemId }}" \
          --data-urlencode "credentialType=${{ matrix.credential.type }}")
          echo "credential_offer=$response" >> $GITHUB_OUTPUT

      - name: Run test harness for ${{ matrix.credential.type }}
        run: |
          ./run-test-harness.sh ${{ matrix.credential.format }} ${{ steps.get-credential-offer.outputs.credential_offer }} \
          --container-name "test-harness" \
          --network-name "integration-tests" \
          --cri-url "http://example-cri:8080" \
          --test-harness-url "http://test-harness:3001" \
          --wallet-subject-id ${{ env.WALLET_SUBJECT_ID }} \
        working-directory: ./test-harness

      - name: Display test report
        if: always()
        run: cat ./output/report.xml
        working-directory: ./test-harness

      - name: Display example CRI logs
        if: always()
        run: |
          docker logs example-cri