name: Example CRI - Integration Tests

on:
  workflow_call:

jobs:
  run-wallet-integration-tests:
    name: Run wallet integration tests
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        credential:
          - type: "DigitalVeteranCard"
            format: "jwt"
          - type: "org.iso.18013.5.1.mDL"
            format: "mdoc"
    defaults:
      run:
        working-directory: ./example-credential-issuer/integration-tests
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout test harness
        uses: actions/checkout@v4
        with:
          repository: govuk-one-login/mobile-wallet-cri-test-harness
          # Temporarily checkout feature branch instead of main
          ref: DCMAW-16009
          path: test-harness

      - name: Start containers
        run: docker compose up --build -d --wait

      - name: Get credential offer for ${{ matrix.credential.type }}
        id: get-credential-offer
        run: |
          sleep 10
          response=$(curl --retry 5 --retry-delay 5 --retry-all-errors -X GET "http://localhost:8080/credential_offer" \
          -H "Accept: application/json" \
          -G \
          --data-urlencode "walletSubjectId=urn:fdc:wallet.account.gov.uk:2024:DtPT8x-dp_73tnlY3KNTiCitziN9GEherD16bqxNt9i" \
          --data-urlencode "itemId=1b6db837-a6cc-4641-8503-3de7f3357c16" \
          --data-urlencode "credentialType=${{ matrix.credential.type }}")
          echo "credential_offer=$response" >> $GITHUB_OUTPUT

      - name: Run test harness for ${{ matrix.credential.type }}
        run: |
          ./run-test-harness.sh ${{ matrix.credential.format }} ${{ steps.get-credential-offer.outputs.credential_offer }} \
          --container-name "test-harness" \
          --network-name "integration-tests_default" \
          --cri-url "http://example_cri:8080" \
        working-directory: ./test-harness

      - name: Display test report
        if: always()
        run: cat ./output/report.xml
        working-directory: ./test-harness

      - name: Display example CRI logs
        if: always()
        run: |
          docker logs example_cri